

div{
    background-color:white;

}

body{
    margin:0;
    text-align:center;
   font-family: 'Montserrat', sans-serif;
}

h1{
    margin: 0px auto 10px auto;
    width:50%;
    padding:25px ;
    font-family:'Sacramento', cursive;
    color:#123844;
    font-weight: bolder;
    font-size:80px;
    line-height:2;
}

h2{
font-family:serif;
font-size: 40px;
font-weight:bolder;
color:rgb(110, 36, 61) ;
padding-bottom: 10px;
font-family:
}

h3{
    font-family:sans-serif;
    color:rgb(7, 62, 93) ;
    font-weight: bolder;
}

h4{
 font-family:serif;
font-size: 40px;
font-weight:normal;
color:black ;
}

.webdesign{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

}



.normal{
text-align:center;
padding:2px 30px;
}



.top-container{
  
    background-color:#ffc9b0;
   width:100%;

    
}
   

.middle-container{
}
   


.bottom-container{     
    background-color:#ffc9b0;
    padding:40px 0px 10px;
}

.bottom-cloud{
  position: absolute;
  left:200px;
  bottom:80px
 

}

.top-cloud{
    position: absolute;
    right:300px;
    top:50px;
  }



  .mountain-cloud{
    
     
      position: relative;
      width:"auto";
      height:400px;
      padding:0px auto;
  }

  

 
    hr{
        border-style: none;
        border-bottom:none;
        border-top-style: dotted;
        width:5%;
        color:rgb(184, 144, 12);
        border-width:7px;
       
       
    }
  
    .skill-row{
        width:72%;
        margin: 100px auto 100px auto ;
        text-align:left;
        font-family:'Titillium Web', sans-serif;
    }

    .html{
        float:left;
        margin-right:30px;
    }


    .css{
        float:right;
        margin-left:30px;
    }

    .intro{
        width:50%;
        margin:auto;
    }
  
    p{
        line-height:2;
    }

    .mypic{
        padding:30px 0px;
        margin:auto;
    }

    .contact-message{
        width:40%;
        margin: 40px auto 60px;
    }


    .btn {
        box-shadow:inset 0px 1px 0px 0px #ffb593;
        background:linear-gradient(to bottom, #ffb08b 5%, #ffb18d 100%);
        background-color:#ff9a6c;
        border-radius:10px;
        border:1px solid #771212;
        display:inline-block;
        cursor:pointer;
        color:#f3fcfde1;
        font-family:Arial;
        font-size:17px;
        font-weight: bold;
        padding:16px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #fb7878;
    }
    .btn:hover {
        background:linear-gradient(to bottom, #f15252 5%, #ff6666 100%);
        background-color:#ff5c5c;
    }
    .btn:active {
        position:relative;
        top:1px;
    }
    
    .copyright{
        font-size:16px;
        color:white;
    }
    a{
        color:#ff4f4f;
        padding:10px 20px;
        text-decoration:none ;
    }

    a:hover{
        color:whitesmoke;
    }